<div class="card-wrapper_ text-center container">
  <div class="row">
    <% artists.each do |artist| %>
    <div class="col-12 col-sm-6 col-lg-4">
      <div class="card-content_ card m-3 shadow-sm d-inline-block">
        <a href="<%= artist_path(artist) %>" width="100%">
          <%# imageカラムにサムネイルが設定されているか %>
          <% if artist.artist_image.url %>
            <%# TODO:DBに登録されている画像 %>
            <%= image_tag artist.artist_image.url, class: "card-img-top"%>
          <% elsif %>
            <%# デフォルト画像を使用 %>
            <img src="/assets/default-artist-header.png" class="card-img-top">
          <% end %>
          <div class="card-body border-top">
            <p><i class="fas fa-heart text-danger"></i><span class="ml-2"><%= artist.favorites.count %></span></p>
            <h5 class="card-title"><%= artist.name %></h5>
            <p class="card-text"><%= artist.description %></p>
          </div>
        </a>
      </div>
    </div>
    <% end %>
  </div>
</div>
