<%= render 'artists/artist_header'%>
<div class="mx-auto border-top">
  <!--navigation-->
  <ul class="nav nav-tabs justify-content-center bg-light artist-tab mb-5">
    <li class="nav-item"><%= link_to 'さがす', root_path, class: 'nav-link active'%></li>
    <li class="nav-item"><%= link_to 'ひろめる', new_artist_path, class: 'nav-link'%></li>
  </ul>
  <!--artist view(card content)-->
  <%= render 'artist_card', artists: @artists %>
  <%= paginate @artists %>
</div>