<%= render 'artists/artist_header' %>
<div class="mx-auto border-top">
  <ul class="nav nav-tabs justify-content-center bg-light artist-tab">
    <li class="nav-item"><%= link_to 'さがす', root_path, class: 'nav-link'%></li>
    <li class="nav-item"><%= link_to 'ひろめる', new_artist_path, class: 'nav-link active'%></li>
  </ul>
  <div class="row">
    <div class="col-sm-6 offset-sm-3 mb-5">
      <!--ログイン中であれば登録画面を出す-->
      <% if logged_in? %>
        <div class="alert alert-primary text-center mt-4" role="alert">新規アーティスト登録</div>
        <%= form_with(model: @artist, local:true ) do |f| %>
          <div class="form-group">
            <%= f.label :name, 'アーティスト名', class: "font-weight-bold"%>
            <span class="badge badge-danger">必須</span>
            <%= f.text_field :name, class: "form-control", placeholder: "アーティスト名を入力してください", required: true %>
          </div>
          <div class="form-group">
            <%= f.label :description, '説明', class: "font-weight-bold" %>
            <span class="badge badge-danger">必須</span>
            <%= f.text_area :description, class: "form-control", size: "20x10", placeholder: "説明文を入力してください", required: true %>
          </div>
            
          <div class="form-group">
            <%= f.label :artist_image, 'アーティスト画像', class: "font-weight-bold"%><br>
            <%= f.file_field :artist_image %>
          </div>
  
          <div class="row">
            <div class="form-group col-md-4">
              <%= f.fields_for :artist_genres do |i|%>
                <%= i.label :genre_id, 'ジャンル', class: "font-weight-bold" %>
                <% @disp_genres.each do |genre| %>
                  <div>
                    <%= i.check_box :genre_id, {multiple: true}, genre.id, false %>
                    <%= genre.genre %>
                  </div>
                <% end %>
              <% end %>  
            </div>
            <div class="form-group offset-md-1 col-md-4">
                <%= f.fields_for :artist_feelings do |i|%>
                  <%= i.label :feeling_id, '気分', class: "font-weight-bold"%>
                  <% @disp_feelings.each do |feeling| %>
                    <div>
                      <%= i.check_box :feeling_id, {multiple: true}, feeling.id, false %>
                      <%= feeling.feeling %>
                    </div>
                  <% end %>
                <% end %>
            </div>
          </div>
          
          <%= f.submit 'アーティストを登録', class: 'btn btn-primary' %>
        <% end %>
      <!--ログイン中でなければアラート-->
      <% else %>
        <%= render 'layouts/need_login' %>
      <% end %>
    </div>
  </div>
</div>
