<%= render 'artists/artist_header'%>
<div class="show-wrapper_ border-top">
  <div class="show-content_ mx-auto my-5">
    <!--artist name-->
    <div class="alert alert-info my-2 h2 text-center"><%= @show_artist.name %></div>
    <!--artist image-->
    <div class="card shadow d-inline-block w-100">
      <div class="adjust-box_ box_">
        <div class="artist-img_">
          <!-- アーティスト画像が見つかればその画像を表示 -->
          <!-- アーティスト画像が登録されていなければデフォルト画像 -->
          <% if @show_artist.artist_image.url %>
            <%= image_tag @show_artist.artist_image.url, class: "artist-img_"%>
          <% else %>
            <img src="/assets/default-artist-header.png" alt="アーティストデフォルト画像" class="artist-img_">
          <% end %>
          <div class="artist-tag_ ml-2">
            <!-- ジャンルが登録されていれば表示 -->
            <p class="genre_">
              <% if @show_artist.get_genres %>
                <% @show_artist.get_genres.each do |genre| %>
                  <span class="badge badge-primary p-2 mr-2"><%= genre.genre %></span>
                <% end %>
              <% end %>
            </p>
            <!-- 気分が登録されていれば表示 -->
            <p class="feeling_">
            　<% if @show_artist.get_feelings %>
                <% @show_artist.get_feelings.each do |feeling| %>
                  <span class="badge badge-success p-2 mr-2"><%= feeling.feeling %></span>
                  <% end %>
              <% end %>
            </p>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="d-flex flex-row justify-content-between align-items-center my-1 mx-2 pt-3 border-top">
          <!--like button-->
          <div id="favorite">
            <%= render 'favorites/favorite_button', artist: @show_artist %>
          </div>
          <!--upload user-->
          <div class="up-user_">
            <span class="h5 d-inline-block"><strong>投稿者</strong>
            <%# <img src="/assets/default-user-icon.png" class="rounded-circle border border-dark" width="50px" height="50px"> %>
            <%= render 'users/user_icon', { user: @up_user, w: 50, h: 50 } %>
            <%= link_to "#{@up_user.name}", user_path(@up_user) %>さん
            </span>
          </div>
        </div>
        <div class="artist_description_ h6 mx-2 mt-5">
          <span class="badge badge-dark">説明</span>
          <div class="border border-dark rounded p-3 shadow-sm">
            <%= @show_artist.description %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>