<div class="text-center">
  <h1 class="mt-5 mb-3">パスワード変更</h1>
</div>

<div class="row">
  <div class="col-sm-6 offset-sm-3">

    <%= form_with(model: @user, local: true) do |f| %>
      <%= render 'layouts/error_messages', model: f.object %>

      <div class="form-group">
        <%= f.label :password_before, '現在のパスワード'%>
        <span class="badge badge-danger">必須</span>
        <%= f.password_field :password_before, class: 'form-control' %>
      </div>
    
      <div class="form-group">
        <%= f.label :name, '新しいパスワード' %>
        <span class="badge badge-danger">必須</span>
        <%= f.password_field :password, class: 'form-control' %>
      </div>
  
      <div class="form-group">
        <%= f.label :password_confirmation, '新しいパスワード(確認用)' %>
        <span class="badge badge-danger">必須</span>
        <%= f.password_field :password_confirmation, class: 'form-control', placeholder: "確認のため同じパスワードを入力してください" %>
      </div>
  
      <%= f.submit 'パスワードを変更', class: 'btn btn-primary btn-block' %>
    <% end %>
  </div>
</div>