<!--ロゴ、ログイン関連UIを表示するヘッダー（全画面にて表示）-->
<header class="border-bottom">
  <div class="container">
    <nav class="navbar navbar-expand-sm navbar-light row">
      <a href="/" class="navbar-brand col-6 col-md-4 logo_">
        <img src="/assets/logo.svg" width="60" height="60" class="d-inline-block align-middle" alt="サイトロゴ">
        ArtistMining
      </a>
      <div class="navbar-nav offset-md-2 col-md-6 col-sm-8">
        <% if logged_in? %>
          　<span class="mr-2">
              <strong>ログイン中</strong>
              <%# 画像が登録されている→登録されている画像　されていない→デフォルト画像 ★ここテンプレート可したい%>
              <%# <img src="/assets/default-user-icon.png" class="rounded-circle border border-dark mx-1" width="50px" height="50px"> %>
              <%= render 'users/user_icon', { user: current_user, w: 50, h: 50 } %>
              <%= link_to "#{current_user.name}", user_path(current_user) %>さん 
              <%# ここまで。テンプレートに表示すべきユーザのインスタンスを渡す　ヘッダー→currentuser, artist/show→@up_user %>
            </span>
            <div class="btn-group">
              <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Menu</button>
              <div class="dropdown-menu">
                <%= link_to 'マイページ', user_path(current_user), class: 'dropdown-item' %>
                <div class="dropdown-divider"></div>
                <%= link_to 'ログアウト', logout_path, class: 'dropdown-item', method: :delete %>
              </div>
            </div>
        <% else %>
          <%= link_to 'ログイン', login_path, class: 'nav-item btn btn-outline-primary m-1' %>
          <%= link_to 'アカウント登録', new_user_path, class: 'nav-item btn btn-outline-secondary m-1' %>
        <% end %>
      <div>  
    </nav>
  </div>
</header>